body {
	margin-top: 1.0em;
	background-color: white;
	color: #000000;
	font: 14px/1.5em Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman";
}
#container {
	 margin: 0 auto;
	 width: 700px;
}
h1 { font-size: 3.8em; margin-bottom: 3px; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; }
h2 a { text-decoration: none }
h3 { text-align: center; }
a,a:visited {
	color:#222;
}
a:hover {
	color:#fff;
	background:#444;
}
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
pre {
	border: #888 1px solid;
	background-color:#CCC;
}